/* CONTENIDO DE INICIO */
#contenido-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 3%;
}

#contenido-inicio h1 {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #dddddd;
    font-size: 2.6vw;
    width: 95%;
    margin-bottom: 2%;
    background-color: #080500d3;
    box-shadow: 0 0 20px 20px #080500d3;
}