/* CONTENIDO DE INICIO */
#contenido-instrucciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 3%;
}

#contenido-instrucciones h1 {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #dddddd;
    font-size: 2.6vw;
    width: 95%;
    margin-bottom: 2%;
    background-color: #080500d3;
    box-shadow: 0 0 20px 20px #080500d3;
}

#astronauta-pointer {
    position: absolute;
    width: 27%;
    bottom: 4%;
    left: 20%;
}

#lista-instrucciones {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    right: 7%;
    width: 42%;
    background-color: #080500d3;
    box-shadow: 0 0 20px 20px #080500d3;
    padding: 1.5%;
}

#lista-titulo {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #dddddd;
    font-size: 1.8vw;
}

#separador {
    height: 1px;
    width: 100%;
    background-color: #c9c9c9;
    margin: 15px 0;
}

#instrucciones {
    list-style: circle;
}

.instruccion {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #dddddd;
    font-size: 1vw;
    margin-bottom: 3%;
}

.menu-inst {
    font-size: 1.2vw;
    color: #da7800;
    font-style: italic;
}