/* ESTILOS GENERALES */

@font-face {
    font-family: 'pixel1';
    src: url(/styles/fonts/ticketing/TICKETING/Ticketing.ttf);
}

@font-face {
    font-family: 'pixel2';
    src: url(/styles/fonts/PixelEmulator-xq08.ttf);
}

@font-face {
    font-family: 'pixel3';
    src: url(/styles/fonts/karma/karma\ future.otf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: url(/img/space3.jpg);
    transition: all .6s;
    background-position: top;
    background-blend-mode: luminosity;
    background-color: #ff8c00;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 0.8vw;
    font-weight: 200;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #080500;
    color: #f0f8ff;
    position: absolute;
    bottom: 0;
    cursor: default;
}

/* CONTENEDOR PRINCIPAL */
.contenedor-principal {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* ASIDE MENU */
#aside-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    background-color: #0a0600;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23692d00' fill-opacity='0.22' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#aside-menu span {
    height: 2px;
    width: 95%;
    margin: 25px 0;
    background-color: #c9c9c9;
}

#ronnie-logo {
    width: 90%;
    margin-top: 20px;
}

#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    background-color: #080500b4;
    margin-bottom: 15%;
}

.menu-link {
    color: #c9c9c9;
    text-decoration: none;
    height: 20%;
    padding: 5% 0;
    width: 95%;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5%;
    font-size: 1.2vw;
    transition: all .2s;
}

.link-activo {
    color: #c9c9c9;
    text-decoration: none;
    height: 20%;
    padding: 5% 0;
    width: 95%;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5%;
    font-size: 1.2vw;
    transition: all .2s;
    background-color: #a05800c5;
}

.menu-link:hover {
    background-color: #4928005e;
}

/* Boton generar lista precios */
#lista-precios {
    width: 60%;
    height: 40px;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    padding: 1%;
    border: none;
    background-color: #c9c9c9;
    transition: all .2s;
    cursor: pointer;
}

#lista-precios:hover {
    background-color: #f59c53;
}

/* TABLA */
#table-container {
    width: 80%;
    height: 75%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: rgb(15,9,0);
    background: -moz-linear-gradient(153deg, rgba(15,9,0,1) 0%, rgba(23,15,2,1) 49%, rgba(61,37,0,1) 100%);
    background: -webkit-linear-gradient(153deg, rgba(15,9,0,1) 0%, rgba(23,15,2,1) 49%, rgba(61,37,0,1) 100%);
    background: linear-gradient(153deg, rgba(15,9,0,1) 0%, rgba(23,15,2,1) 49%, rgba(61,37,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0900",endColorstr="#3d2500",GradientType=1);
    border-radius: 15px;
}

#table {
    width: 100%;
    text-align: left;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9vw;
    font-weight: 100;
    color: #dddddd;
}

#table-container::-webkit-scrollbar {
    width: 15px;
    background-color: #e4b16e;
    border-radius: 10px;
}

#table-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 2px #352000;
}

#table-container::-webkit-scrollbar-thumb {
    background-color: #200a00;
    box-shadow: inset 0 0 10px 1px #b1aca3;
    border-radius: 10px;
}

#table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 3%;
    background-color: #0f0900;    
    border-bottom: 1px solid #352002;
}

#search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 40px;
    background-color: #e4b16e;
    border-radius: 0 15px 0 15px;
}

#search-div svg {
    width: 25px;
    padding: 0 10px;
    color: #2e1a00;
}

#search-div input {
    width: 80%;
    height: 80%;
    padding-left: 5px;
    background-color: #805b2b8a;
    border: none;
    border-radius:0 10px 0 10px;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9vw;
}

#search-div input::placeholder {
    color: #2e1a00;
}

#btn-agregar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    height: 40px;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9vw;
    border: none;
    cursor: pointer;
    background-color: #e4b16e;
}

#btn-agregar-item:hover {
    background-color: #f59e2d;
}

#btn-agregar-item svg {
    width: 50px;
    padding: 0 5px;
    height: 100%;
    background-color: #805b2b8a;
}

.table-head {
    padding-left: 10px;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#table thead {
    height: 50px;
    background-color: #0f0900;
}

#table tbody {
    background-color: #442c0d;
}

.table-data {
    padding: 10px 10px;
}

.clara {
    background-color: #7e633f77;
}

.clara td {
    border-top: 1px solid #886b4677;
    border-bottom: 1px solid #886b4677;
}

#tabla-vacia {
    position: absolute;
    justify-content: center;
    left: 40%;
    top: 55%;
    width: 40%;
    text-align: center;
    display: none;
    font-size: 2vw;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #b1aca3;
}

/* Botones edit y delete */
.acciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 6vw;
    height: 35px;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.7vw;
    background-color: #8282eb;
    border: none;
    cursor: pointer;
}

.edit:hover {
    background-color: #494994;
}

.edit svg {
    width: 23px;
    padding: 0 5px;
    pointer-events: none;
}

.delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 7vw;
    height: 35px;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.7vw;
    background-color: #fd514bb6;
    border: none;
    cursor: pointer;
}

.delete:hover {
    background-color: #d41d168c;
}

.delete svg {
    width: 23px;
    padding: 0 5px;
    pointer-events: none;
}


/* Modal */
#modal-fondo {
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0f0900b0;
    backdrop-filter: blur(2px);
    outline: 0;
    display: none;
    transition: all .3s;
}

#modal-agregar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding: 2%;
    border: 2px solid #dddddd;
    border-radius: 15px;
    background-color: #1b1711;
    background-blend-mode: luminosity;
    background: #3d2d189d url('/img/space3.jpg');
    background-position: initial;
    color: #dddddd;
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2vw;
    z-index: -1;
}

#modal-agregar-item h5{
    font-size: 2.2vw;
    margin-bottom: 5%;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 2px solid #dddddd;
}

#astronauta-libro {
    position: absolute;
    top: 13%;
    left: 8%;
    width: 35%;
    z-index: 2;
}

.div-input {
    margin-bottom: 10%;
}

.div-input input {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    padding: 10px;
    background-color: #dddddd;
}

.div-input input::placeholder {
    font-size: 0.9vw;
}

.div-acciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.submit {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
    height: 40px;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}

.submit:hover {
    background-color: #ffcb3b;
    box-shadow: 0 0 5px 1px #ffcb3b;
}

.submit-edit {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
    height: 40px;
    background-color: #8282eb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}

.submit-edit:hover {
    background-color: #494994;
    box-shadow: 0 0 5px 1px #494994;
}

#cancel {
    font-family: 'pixel2','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
    height: 40px;
    background-color: #ff4931e1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancel:hover {
    background-color: #d11800e1;
    box-shadow: 0 0 5px 1px #d11800bb;
}
